* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #8d8a8a;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Шапка */
  .mainmenu ul {
    list-style: none;
    display: flex;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .mainmenu li {
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
  }
  
  #song-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .songs {
    flex-basis: calc(50% - 10px); /* Разделите контейнер на две колонки с отступом */
    padding: 10px;
  }
  
  .songs tr {
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .songs tr :hover{
    background-color: #585858;
  }
  
  .songs td {
    padding: 10px;
    text-align: center;
    background-color: #2b2a2a;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: wheat;
    font-weight: bold;
  }
  
  .songs img {
    width: 150px;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  .songs tr:hover {
    background-color: #f0f0f0;
  }
  
  .songs img:hover {
    transform: scale(1.05);
  }
  
  #songlist {
    flex-basis: calc(50% - 10px); /* Разделите контейнер на две колонки с отступом */
    padding: 10px;
    border-radius: 5px;
    color: wheat;
  }
  
  #songlist th {
    background-color: #2b2a2a;
    color: wheat;
    padding: 10px;
  }
  
  #songlist td {
    padding: 10px;
    background-color: #2b2a2a;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #songlist tr :hover{
    background-color: #585858;

  }
  
  
  .navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .navigation li {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
  }
  
  /* Плеер */
  .player {
    background-color:#2b2a2a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    color: wheat;
    font-weight: bold;
  }
  
  .currentsong{
    display: flex;
    justify-content: space-between;
  }

  .currentsong span {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  .playcontrol img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .volume img {
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
  }

  .volume{
    width: 50px;
    margin-left: 1000px;
    display: flex;
    margin-top: -15px;
}
  
  .volume input[type="range"] {
    width: 100px;
  }
  
  #timebar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  #bar {
    width: 100%;
  }

  #duration{
    margin-left: 10px;
  }

  #currentTime{
    margin-right: 10px;
  }

  a{
    text-decoration: none;
    color: white;
  }
  
  /* Медиазапросы для отзывчивого дизайна */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
    .mainmenu ul,
    .navigation ul {
      flex-direction: column;
      align-items: center;
    }
    .mainmenu li,
    .navigation li {
      margin: 10px 0;
    }
  }
  
  @media (max-width: 576px) {
    .songs td {
      font-size: 14px;
    }
  }
  