/* Common styles for all screen sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #8d8a8a;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
.mainmenu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.mainmenu li {
  margin-right: 20px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

/* Content */
.content {
  overflow: auto;
  width: 100%;
  min-height: 650px;
  padding: 20px;
}

#song-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.songs {
  flex-basis: calc(50% - 10px);
  padding: 10px;
}

.songs tr {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.songs tr:hover {
  background-color: #585858;
}

.songs td {
  padding: 10px;
  text-align: center;
  background-color: #2b2a2a;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: wheat;
  font-weight: bold;
}

.songs img {
  width: 100%;
  max-width: 150px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.songs img:hover {
  transform: scale(1.05);
}

#edit {
  width: 20px;
  height: 20px;
  display: none;
}

#delete2 {
  width: 20px;
  height: 20px;
}

.songs td:hover #edit {
  display: flex;
}

#songlist {
  flex-basis: calc(50% - 10px);
  padding: 10px;
  border-radius: 5px;
  color: wheat;
}

#songlist th {
  background-color: #2b2a2a;
  color: wheat;
  padding: 10px;
}

#songlist td {
  padding: 10px;
  background-color: #2b2a2a;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#songlist tr:hover {
  background-color: #585858;
}

/* Navigation */
.navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.navigation li {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

/* Player */
.player {
  background-color: #2b2a2a;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
  color: wheat;
  font-weight: bold;
}

.currentsong {
  display: flex;
  justify-content: space-between;
}

.currentsong span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.playcontrol img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 10px;
}

.volume img {
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.volume {
  width: 50px;
  display: flex;
  margin-top: -15px;
}

.volume input[type="range"] {
  width: 100px;
}

#timebar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#bar {
  width: 100%;
}

#duration {
  margin-left: 10px;
}

#currentTime {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: white;
}

/* Form Style */
#addSong {
  max-width: 750px;
  margin: 0 auto;
  background-color: #2b2a2a;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: wheat;
}

#addSong p {
  font-weight: bold;
  margin-bottom: 5px;
}

#addSong input[type="text"],
#addSong input[type="file"],
#addSong input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#text {
  margin-left: 30px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#addSong input[type="radio"] {
  margin-top: -20px;
}

#addSong input[type="file"] {
  border: none;
  padding: 0;
}

#addSong input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#addSong input[type="submit"]:hover {
  background-color: #0056b3;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.radio-group label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.radio-group label p {
  margin: 0;
}

/* Playlist Form */
#addPlaylist {
  max-width: 400px;
  margin: 0 auto;
  background-color: #2b2a2a;
  padding: 20px;
  color: wheat;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#addPlaylist p {
  font-weight: bold;
  margin-bottom: 5px;
}

#addPlaylist input[type="text"],
#addPlaylist input[type="file"],
#addPlaylist input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#addPlaylist input[type="file"] {
  border: none;
  padding: 0;
}

#addPlaylist input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#addPlaylist input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .mainmenu ul {
    flex-direction: column;
    align-items: center;
  }

  .mainmenu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .content {
    padding: 10px;
  }

  .songs {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  .songs td {
    padding: 5px;
  }

  .navigation ul {
    flex-direction: column;
    align-items: center;
  }

  .navigation li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #addSong {
    max-width: 100%;
    padding: 10px;
  }

  #addSong input[type="text"],
  #addSong input[type="file"],
  #addSong input[type="submit"] {
    padding: 5px;
  }

  #addPlaylist {
    max-width: 100%;
    padding: 10px;
  }

  #addPlaylist input[type="text"],
  #addPlaylist input[type="file"],
  #addPlaylist input[type="submit"] {
    padding: 5px;
  }

  #songlist {
    flex-basis: 100%;
    padding: 10px;
    border-radius: 5px;
    color: wheat;
  }
}

@media screen and (max-width:470px) {
  .volume{
      display: none;
  }
}
